<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ControlHorario.configuraciones" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PantallasContext" connectionString="metadata=res://*/PantallasModel.csdl|res://*/PantallasModel.ssdl|res://*/PantallasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLIto;initial catalog=PantallasCC;integrated security=false; user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContextoPantallas" connectionString="metadata=res://*/PantallasModel.csdl|res://*/PantallasModel.ssdl|res://*/PantallasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLIto;initial catalog=PantallasCC;integrated security=false; user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AlumnosEntities" connectionString="metadata=res://*/AlumnoModel.csdl|res://*/AlumnoModel.ssdl|res://*/AlumnoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLITO;initial catalog=BD_CALB;integrated security=false; user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
  </applicationSettings>
  <appSettings>
    <add key="IDLab" value="2" />
	<add key="IDLab2" value="3" />
	<add key="IDLab3" value="*" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>