<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PantallasContext" connectionString="metadata=res://*/PantallasModel.csdl|res://*/PantallasModel.ssdl|res://*/PantallasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLIto;initial catalog=PantallasCC;integrated security=false;user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContextoPantallas" connectionString="metadata=res://*/PantallasModel.csdl|res://*/PantallasModel.ssdl|res://*/PantallasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLIto;initial catalog=PantallasCC;integrated security=false;user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AlumnosEntities" connectionString="metadata=res://*/AlumnoModel.csdl|res://*/AlumnoModel.ssdl|res://*/AlumnoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLITO;initial catalog=BD_CALB;integrated security=false;user id=sa;password=dev2010@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>